
## <summary>policy for metricbeat</summary>

########################################
## <summary>
##	Execute metricbeat_exec_t in the metricbeat domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`metricbeat_domtrans',`
	gen_require(`
		type metricbeat_t, metricbeat_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, metricbeat_exec_t, metricbeat_t)
')

######################################
## <summary>
##	Execute metricbeat in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_exec',`
	gen_require(`
		type metricbeat_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, metricbeat_exec_t)
')

########################################
## <summary>
##	Execute metricbeat server in the metricbeat domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_initrc_domtrans',`
	gen_require(`
		type metricbeat_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, metricbeat_initrc_exec_t)
')
########################################
## <summary>
##	Read metricbeat's log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`metricbeat_read_log',`
	gen_require(`
		type metricbeat_log_t;
	')

	logging_search_logs($1)
	read_files_pattern($1, metricbeat_log_t, metricbeat_log_t)
')

########################################
## <summary>
##	Append to metricbeat log files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_append_log',`
	gen_require(`
		type metricbeat_log_t;
	')

	logging_search_logs($1)
	append_files_pattern($1, metricbeat_log_t, metricbeat_log_t)
')

########################################
## <summary>
##	Manage metricbeat log files
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_manage_log',`
	gen_require(`
		type metricbeat_log_t;
	')

	logging_search_logs($1)
	manage_dirs_pattern($1, metricbeat_log_t, metricbeat_log_t)
	manage_files_pattern($1, metricbeat_log_t, metricbeat_log_t)
	manage_lnk_files_pattern($1, metricbeat_log_t, metricbeat_log_t)
')

########################################
## <summary>
##	Search metricbeat lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_search_lib',`
	gen_require(`
		type metricbeat_var_lib_t;
	')

	allow $1 metricbeat_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read metricbeat lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_read_lib_files',`
	gen_require(`
		type metricbeat_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, metricbeat_var_lib_t, metricbeat_var_lib_t)
')

########################################
## <summary>
##	Manage metricbeat lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_manage_lib_files',`
	gen_require(`
		type metricbeat_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, metricbeat_var_lib_t, metricbeat_var_lib_t)
')

########################################
## <summary>
##	Manage metricbeat lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`metricbeat_manage_lib_dirs',`
	gen_require(`
		type metricbeat_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, metricbeat_var_lib_t, metricbeat_var_lib_t)
')

########################################
## <summary>
##	Execute metricbeat server in the metricbeat domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`metricbeat_systemctl',`
	gen_require(`
		type metricbeat_t;
		type metricbeat_unit_file_t;
	')

	systemd_exec_systemctl($1)
        systemd_read_fifo_file_passwd_run($1)
	allow $1 metricbeat_unit_file_t:file read_file_perms;
	allow $1 metricbeat_unit_file_t:service manage_service_perms;

	ps_process_pattern($1, metricbeat_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	an metricbeat environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`metricbeat_admin',`
	gen_require(`
		type metricbeat_t;
		type metricbeat_initrc_exec_t;
		type metricbeat_log_t;
		type metricbeat_var_lib_t;
	type metricbeat_unit_file_t;
	')

	allow $1 metricbeat_t:process { signal_perms };
	ps_process_pattern($1, metricbeat_t)

    tunable_policy(`deny_ptrace',`',`
        allow $1 metricbeat_t:process ptrace;
    ')

	metricbeat_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 metricbeat_initrc_exec_t system_r;
	allow $2 system_r;

	logging_search_logs($1)
	admin_pattern($1, metricbeat_log_t)

	files_search_var_lib($1)
	admin_pattern($1, metricbeat_var_lib_t)

	metricbeat_systemctl($1)
	admin_pattern($1, metricbeat_unit_file_t)
	allow $1 metricbeat_unit_file_t:service all_service_perms;
	optional_policy(`
		systemd_passwd_agent_exec($1)
		systemd_read_fifo_file_passwd_run($1)
	')
')
